* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: white;
}

.shopCards {
  display: flex;
  flex-wrap: wrap;
}

.shopCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 33%;
  max-width: 300px;
  margin: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

button {
  background-color: white;
  border: 1px red solid;
  border-radius: 12px;
  color: red;
  width: 30%;
  height: 30px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 15px 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price, .priceItem {
  color: red;
}

.name, .nameItem {
  font-weight: bold;
}

.shopItem {
  display: flex;
  align-items: center;
  margin: 15px;
  background-color: #f6f6f6;
  max-height: 300px;
  box-sizing: border-box;
  width: 300%;
}

img {
  width: 300px;
}

.listView {
  width: 100%;
}

.priceItem, .nameItem, .colorItem {
  margin: 10%;
}

.switcher {
  display: flex;
  align-items: flex-end;
  margin: 15px;
}
